<div class="training-peaks-page app-panel-page">

  @if (!platformInfo) {
    <div class="loading-container app-panel-container">
      <mat-progress-bar mode="query"></mat-progress-bar>
    </div>
  }

  @if (platformInfo?.isValid === false) {
    <div
      class="not-configured app-panel-container app-not-configured">
      Platform is not configured. Please set required parameters on the Settings page.
    </div>
  }

  @if (platformInfo?.isValid) {
    <div class="content-container app-panel-container">
      <mat-accordion multi class="action-accordion app-panel-accordion">
        <mat-expansion-panel
          class="action-panel app-panel-card"
          [disabled]="!platformInfo.isAthlete">
          <mat-expansion-panel-header class="action-header app-panel-card-header">
            <div class="action-header-content app-panel-card-header-content">
              <div class="action-icon app-panel-card-icon">
                <mat-icon>sync</mat-icon>
              </div>
              <div class="action-text app-panel-card-text">
                <div class="action-title app-panel-card-title">Sync planned workouts</div>
                <div
                  class="action-description app-panel-card-description"
                  [attr.tabindex]="platformInfo.isAthlete ? null : 0"
                  [matTooltipDisabled]="platformInfo.isAthlete"
                  matTooltip="Not available for TP coach account"
                  matTooltipPosition="right">
                  Copy workouts between Intervals and TrainingPeaks calendars
                </div>
              </div>
            </div>
          </mat-expansion-panel-header>
          <tp-copy-calendar-to-calendar></tp-copy-calendar-to-calendar>
        </mat-expansion-panel>
        <mat-expansion-panel class="action-panel app-panel-card">
          <mat-expansion-panel-header class="action-header app-panel-card-header">
            <div class="action-header-content app-panel-card-header-content">
              <div class="action-icon app-panel-card-icon">
                <mat-icon>fitness_center</mat-icon>
              </div>
              <div class="action-text app-panel-card-text">
                <div class="action-title app-panel-card-title">Copy plan or workout library</div>
                <div class="action-description app-panel-card-description">
                  Copy whole training plan or workout library from TrainingPeaks to Intervals
                </div>
              </div>
            </div>
          </mat-expansion-panel-header>
          <tp-copy-library-container></tp-copy-library-container>
        </mat-expansion-panel>
        <mat-expansion-panel
          class="action-panel app-panel-card"
          [disabled]="!platformInfo.isAthlete">
          <mat-expansion-panel-header class="action-header app-panel-card-header">
            <div class="action-header-content app-panel-card-header-content">
              <div class="action-icon app-panel-card-icon">
                <mat-icon>library_books</mat-icon>
              </div>
              <div class="action-text app-panel-card-text">
                <div class="action-title app-panel-card-title">Copy planned workouts to library</div>
                <div
                  class="action-description app-panel-card-description"
                  [attr.tabindex]="platformInfo.isAthlete ? null : 0"
                  [matTooltipDisabled]="platformInfo.isAthlete"
                  matTooltip="Not available for TP coach account"
                  matTooltipPosition="right">
                  Copy workouts from TrainingPeaks calendar to Intervals workout library
                </div>
              </div>
            </div>
          </mat-expansion-panel-header>
          <tp-copy-calendar-to-library></tp-copy-calendar-to-library>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  }

</div>
