<mat-toolbar color="primary" class="top-bar">

  @if (isMobile$ | async) {

    <button
      mat-icon-button
      aria-label="Open menu"
      (click)="menuClicked.emit()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="mobile-title">
      <mat-icon>sync</mat-icon>
      <span>TP2Intervals</span>
    </span>

  } @else {

    <div class="desktop-menu">
      @for (button of menuButtons; track button.url) {

        @if (router.url === button.url) {
          <button
            mat-stroked-button
            [routerLink]="[button.url]">
            {{ button.name }}
          </button>
        } @else {
          <button
            mat-flat-button
            color="primary"
            [routerLink]="[button.url]">
            {{ button.name }}
          </button>
        }

      }
    </div>

  }

  <span class="spacer"></span>

  <a
    mat-button
    [href]="githubLink"
    target="_blank"
    rel="noopener noreferrer"
    class="github-link"
    [matBadgeHidden]="updateAvailableBadgeHidden"
    [matTooltipDisabled]="updateAvailableBadgeHidden"
    matTooltip="Update available"
    matBadge="1"
    matBadgeSize="small"
    matBadgePosition="before"
    matBadgeColor="accent">

    <span>v{{ appVersion }}</span>
    <mat-icon>integration_instructions</mat-icon>

  </a>

</mat-toolbar>