<mat-toolbar color="primary" class="top-bar">

  @if (isMobile$ | async) {

    <button
      mat-icon-button
      aria-label="Open menu"
      (click)="menuClicked.emit()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="mobile-title">
      <mat-icon>sync</mat-icon>
      <span>TP2Intervals</span>
    </span>

  } @else {

    <div class="desktop-menu">
      @for (button of menuButtons; track button.url) {

        @if (router.url === button.url) {
          <button
            mat-stroked-button
            [routerLink]="[button.url]">
            {{ button.name }}
          </button>
        } @else {
          <button
            mat-flat-button
            color="primary"
            [routerLink]="[button.url]">
            {{ button.name }}
          </button>
        }

      }
    </div>

  }

  <span class="spacer"></span>

</mat-toolbar>