<mat-toolbar color="primary" class="top-bar">

  @if (isMobile$ | async) {

    <button
      mat-icon-button
      aria-label="Open menu"
      (click)="menuClicked.emit()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="mobile-title">
      <mat-icon>sync</mat-icon>
      <span>TP2Intervals</span>
    </span>

  } @else {

    <div class="desktop-menu">
      @for (button of menuButtons; track button.url) {

        @if (router.url === button.url) {
          <button
            mat-stroked-button
            [routerLink]="[button.url]">
            {{ button.name }}
          </button>
        } @else {
          <button
            mat-flat-button
            color="primary"
            [routerLink]="[button.url]">
            {{ button.name }}
          </button>
        }

      }
    </div>

  }

  <span class="spacer"></span>

  <a
    mat-button
    [href]="githubLink"
    target="_blank"
    rel="noopener noreferrer"
    class="github-link"
    [matTooltipDisabled]="updateAvailableBadgeHidden"
    matTooltip="Update available">

    <span class="github-content">
      <mat-icon class="github-icon" svgIcon="github"></mat-icon>

      <span
        class="version-text version-badge"
        [matBadgeHidden]="updateAvailableBadgeHidden"
        matBadge="1"
        matBadgeSize="small"
        matBadgePosition="above after"
        matBadgeColor="accent">

        v{{ appVersion }}

      </span>
    </span>

  </a>

</mat-toolbar>